.additional__title {
  margin-left: 19px;
  margin-right: 22px;
  margin-top: 28px;
  padding-bottom: 35px;
  margin-bottom: 0;
  .border-bottom()
}

.additional__list {
  .style-list();
}

.additional__item {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 19px;
  .border-bottom()
}
