.advantage {
  margin: 0;
  background-color: @basic;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @border-3;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.advantage__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 11px;
    margin: 0 auto;
  }
}

.advantage__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 38px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-top: 45px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 71px;
  }
}

.advantage__list {
  display: grid;
  gap: 20px;
  .style-list();

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 77px;
    column-gap: 137px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 95px;
  }

}

.advantage__text {
  padding-left: 20px;
}
