.advice {
  position: relative;
}

.advice__intro-wrapper {
  padding-left: 20px;
  padding-right: 20px;

@media (min-width: @tablet-width) {
  padding-left: 117px;
  padding-right: 117px;
}

@media (min-width: @desktop-width) {
  max-width: 1440px;
  padding-left: 190px;
  padding-right: 190px;
  margin: 0 auto;
}
}

.advice__list-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
  }
}

.advice__text {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width)  {
    margin-top: 41px;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 40px;
    margin-bottom: 52px;
  }
}

.advice__image {
  position: absolute;
}

.advice__button {
  margin: 0 auto;
  margin-top: 302px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 267px;
  }
}

.advice__list {
  display: grid;
  gap: 20px;
  .style-list();

  @media (min-width: @tablet-width) {
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.advice__item {
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 33px;
}
