.advice-item {
  background-color: @basic_grey;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content  min-content min-content;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content  min-content min-content;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content  min-content min-content;
  }
}

.advice-item__title {
  margin: 0;
  padding-left: 19px;
  padding-top: 5px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 62px;
    padding-top: 32px;
  }
}

.advice-item__text {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid @border-2;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 24px;
    padding-bottom: 52px;
    padding-right: 17px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 39px;
    padding-bottom: 27px;
  }
}

.advice-item__link-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  display: block;
  padding-top: 19px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.advice-item__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic_black;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.advice-item__link:hover .advice-item__svg {
  display: none;
}

.advice-item__link:hover .advice-item__svg-long {
  display: inline;
}

.advice-item__svg {
  margin-left: 16px;
  fill: @basic_black;
}

.advice-item__svg-long {
  margin-left: 16px;
  fill: @basic_black;
  display: none;
}
