.another {
  background: @basic;
  border-bottom: 2px solid @basic_grey;

  @media (min-width: @tablet-width) {
    border: 2px solid @basic_grey;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }
}

.another__title {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 8px;
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 49px;
    padding-bottom: 23px;
  }
}

.another__text {
  margin: 0;
  padding-bottom: 21px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 87px;
  }
}

.another__button {
  margin: 0 auto;
}

.another__image-wrapper {
  text-align: center;
}

.another__image {
  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
  }
}
