.button-another {
  display: block;
  width: 100%;
  height: 40px;
  background-color: @basic_grey;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @special_dark-grey;
  padding-top: 11px;

  &:hover {
    background: @special_grey;
  }

  &:active {
    opacity: 0.3;
  }
}
