.button {
  display: block;
  height: 40px;
  background-color: @basic_green;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @basic;
  padding-top: 11px;
}

.button--index {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 18px;
    padding: 18px;
  }
}

.button--catalog {
  @media (min-width: @desktop-width) {
    width: 244px;
    height: 40px;
  }
}
