.contacts {
  padding-top: 28px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: @basic;
}

.contacts__address {
  margin: 0;
}

.contacts__wrapper {
  background-color: @basic_grey;
}
