.main-nav__list {
  .style-list();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
    margin-top: 42px;
    margin-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    width: 498px;
    margin-top: 69px;
    margin-bottom: 32px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 18px;
  background-color: @basic;
  cursor: pointer;
  border: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: @basic_black;
  box-shadow: 0 8px 0 0 @basic_black, 0 16px 0 0 @basic_black;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -3px;
    width: 24px;
    height: 1.5px;
    background-color: @basic_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
