.map {
  background-color: @basic;
  position: relative;
  z-index: 1;
}

.map__iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border: none;
}

.map__img {
  width: 320px;
  height: 362px;
}

.map__image-wrapper {
  margin: 0;
  padding: 0;
  text-align: center;
}
