.page-footer {
  background-color: @basic_grey;
}

.page-footer__logo {
  display: block;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
  padding-left: 96px;
  padding-right: 96px;
  .border-bottom();
  color: @basic_black;
}

.page-footer__social {
  .style-list();
  text-align: center;
  padding-top: 22px;
  padding-bottom: 23px;
  padding-left: 93px;
  padding-right: 102px;
  .border-bottom()
}

.page-footer__copyright {
  padding-left: 20px;
  padding-right: 20px;
}
