.present {
  min-height: 289px;
  background-color: @background;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.present__wrapper {
  min-height: 289px;
  margin-top: 39px;

  @media (min-width: @tablet-width) {
    min-height: 200px;
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    padding-left: 78px;
    padding-right: 124px;
  }

  @media (min-width: @desktop-width) {
    min-height: 289px;
    margin-top: 0;
    display: block;
    padding: 0;
  }
}

.present__text {
  margin-top: 55px;
  margin-bottom: 43px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 71px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-top: 46px;
    text-align: center;
  }
}

.present__icon {
  text-align: center;
  padding-top: 55px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}

.present__icon-image {
  width: 75px;
  height: 75px;
}
