.products {
  background-color: @basic;
}

.products__list-wrapper{
  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
  }
}

.products__list {
  display: grid;
  .style-list();

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 139px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 143px;
  }
}

.products__item {
  @media (max-width: @mobile-width-only) {
    padding-bottom: 21px;
    padding-left: 20px;
    padding-right: 20px;
    .border-bottom();
  }

  @media (min-width: @tablet-width) {
    background-color: @basic_grey;
    padding: 0;
  }
}

.products__item--anover {
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 52px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 40px;
  }
}

.products__item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 161px min-content;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 162px min-content;
  }
}

.products__info {
  padding-top: 21px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.products__image-wrapper {
  position: relative;
}

.products__image-link {
  color: @basic_black;
}

.products__link {
  color: @special_dark-grey-2;
}

.products__button {
  @media (min-width: @tablet-width) {
    margin-top: 36px;
    margin-bottom: 40px;
    margin-left: 36px;
    margin-right: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 33px;
  }
}
