.profile {
  background-color: @basic;
}

.profile__item {
  margin: 0;
  padding: 0;
}

.profile__item--wrapper {
  position: relative;
  border: none;
}

.profile__wrapper-button-small {
  display: grid;
  gap: 21px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 34px;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding-left: 70px;
    padding-right: 67px;
    padding-top: 54px;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    gap: 80px;
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 61px;
    padding-bottom: 82px;
    margin: 0 auto;
  }
}

.profile__small {
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-top: 10px;
  }
}
