.text-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
.text-title__wrapper {
  border-bottom: 1px solid @border-4;

  @media (min-width: @tablet-width) {
    border: none;
  }
}
